# Scikit Surprise

testing out the scikit surprise package

In [1]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit-surprise-1.1.0.tar.gz (6.4 MB)
     |████████████████████████████████| 6.4 MB 6.1 MB/s eta 0:00:01
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.7/site-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /opt/conda/lib/python3.7/site-packages (from scikit-surprise) (1.18.4)
Requirement already satisfied: scipy>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /opt/conda/lib/python3.7/site-packages (from scikit-surprise) (1.14.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp37-cp37m-linux_x86_64.whl size=1670610 sha256=2e15fbad9950645805af263dc82d619acc949c4c58f0c69369a97f2c3350e52e
  Stored in directory: /home/jovyan/.cache/pip/wheels/14/21/49/2712122e4f70026a9f8c7e0bb6b77fd1da5e84778ec27af6a7
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.0

## Import in and Explore Data

In [2]:
import pandas as pd
from surprise import Dataset
from surprise import Reader

In [3]:
dataset = pd.read_csv('/opt/spark-data/ml-25m/ratings.csv')

In [4]:
dataset.head(10)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495
6       1     1175     3.5  1147868826
7       1     1217     3.5  1147878326
8       1     1237     5.0  1147868839
9       1     1250     4.0  1147868414

In [6]:
reader = Reader(rating_scale=(1,5))

In [7]:
# load data into surprise
data = Dataset.load_from_df(dataset[["userId", "movieId", "rating"]], reader)

### Simple KNN

In [8]:
from surprise import KNNWithMeans

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [9]:
trainingSet = data.build_full_trainset()

In [ ]:
algo.fit(trainingSet)

In [ ]:
prediction = algo.predict('1', 1089)